<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576007733139-f66d3l3b3vavpl3p4q9tsve5or0jh8um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576007733139-f66d3l3b3vavpl3p4q9tsve5or0jh8um</string>
	<key>API_KEY</key>
	<string>AIzaSyBEEBIvVg5Z7g_I1YSoc9f3FaHTfw_60x8</string>
	<key>GCM_SENDER_ID</key>
	<string>576007733139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-app-45ed5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-app-45ed5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576007733139:ios:6a480b7897148b2d11b266</string>
</dict>
</plist>